<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="">
        <label for="">id</label> 
        <input name="id" type="int">
        <label for="">title</label>
        <input name="title" type="text">
        <label for="">content</label>
        <input name="content" type="text">
        <label for="">date_posted</label>
        <input name="date_posted" type="text">
        <label for="">slug</label>
        <input name="slug" type="text">
        <label for="">poster_id</label>
        <input name="poster_id" type="text">
        <button>submit</button>
    </form>
    
</body>
</html>